
body{
    background: radial-gradient(rgba(255, 251, 251, 0.071),rgb(0, 255, 247),navy);
}
#gamecontainer{
    text-align:center;
    padding:34px;
}

#gameboard{
    border:3px solid;
    background-color: rgb(3, 3, 65);
}
#score{
    font-family:"consolas",monospace;
    font-size:100px;
    color:black;
}
#resetbtn{
    font-size:22px;
    width:100px;
    height:50px;
    border:4px solid;
    border-radius:15px;
    cursor:pointer;
    color:rgb(0, 0, 0);
    background-color: red;
    margin:10px 50px;
    border-color: red;
}
#startbtn{
    font-size:22px;
    width:100px;
    height:50px;
    border:4px solid;
    border-radius:15px;
    cursor:pointer;
    color:rgb(0, 0, 0);
    background-color: greenyellow;
    margin:10px 50px;
    border-color: greenyellow;
}