* {
    box-sizing: border-box;
    /* Remove the background image from the universal selector */
}
body{
    background-image: url('ludo-img.jpg'); /* Total background of the Ludo game */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 4, 0.448); /* Adjust the opacity to control brightness */
    z-index: -1;
}

.ludo-container {
    width: 450px;
    text-align: center;
    color: rgb(20, 200, 255);
    margin: 10px auto;
    padding-top: 2px;
   
}

.ludo-container .ludo {
    height: 450px;
    width: 100%;
    background-image: url('./ludo-bg.jpg'); /* Ludo board */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.ludo-container h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    letter-spacing: 8px;
}
.ludo-container h2{
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 10px;
}
.player-pieces {
    height: 100%;
    width: 100%;
}

.player-piece {
    width: 3%;
    height: 3%;
    border: 2px solid;
    border-radius: 10px;
    position: absolute;
    transform: translate(50%, 50%);
    transition: all .2s;
    border-color: black;
    z-index: 1;

    /* top: 15%;
    left: 50%; */
}
.player-piece.highlight {
    cursor: pointer;
    border: 2px dashed black;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: translate(50%, 50%) rotate(0deg);
    }
    50% {
        transform: translate(50%, 50%) rotate(180deg) scale(1.4);
    }
    100% {
        transform: translate(50%, 50%) rotate(360deg);
    }
}

[player-id="P1"].player-piece {
    background-color: #2eafff;
}

[player-id="P2"].player-piece {
    background-color: #00b550;
}

.player-base {
    width: 40%;
    height: 40%;
    border: 30px solid;
    position: absolute;
}

.player-bases [player-id="P1"].player-base {
    bottom: 0;
    left: 0;
    border-color: #1295e7;
}

.player-bases [player-id="P2"].player-base {
    top: 0;
    right: 0;
    border-color: #049645;
}

.player-base.highlight {
    animation: border-blink .7s infinite ease-in-out;
}

@keyframes border-blink {
    50% {
        border-color: rgba(255, 255, 255, 0.8);
    }
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn:disabled {
    opacity: 0.5;
}

.btn-dice {
    background-color: #009d60;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dice-value {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 10px 20px;
    border-radius: 10px;
}
.footer h2{
    color:rgb(255, 255, 255);
    text-align:center;
}